<header>
    <nav class="navbar navbar-expand-lg bg-white border-bottom shadow-sm px-3">
        <a class="navbar-brand fw-semibold" href="{{ url_for('home.nova_reserva') }}">Nova Reserva - Cálculo de Margem</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Alternar navegação">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <!-- Esquerda -->
            <ul class="navbar-nav me-auto">
            </ul>

            <!-- Direita -->
            <ul class="navbar-nav">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <form class="d-inline" method="post" action="{{ url_for('auth.logout') }}">
                        {{ logout_form.hidden_tag() }}
                        <button type="submit" class="nav-link btn btn-link text-danger p-0"
                            style="text-decoration: none;">
                            Sair
                        </button>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>