@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');


html,
body {
    font-family: 'Exo 2', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    flex: 1 0 auto;
}

header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main {
    padding: 10px;
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}